.contribute__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contribute__article {
  padding: 16px;
  width: 60%;
}

.article__link {
  display: flex;
  margin: 20px auto;
  text-decoration: none;
}

.article__link:hover {
  text-decoration: underline;
}
